.right-text {
   text-align: right;
 }

 .left-text {
   text-align: left;
 }

 .center-text {
   text-align: center;
 }

 .large-font {
   font-size: 14px;
   font-family: Nunito, sans-serif;
  }

thead {
   position: sticky;
   top: 0;
}

th {
   padding: 10px;
   background-color: #f2f2f2;
   border: 1px solid #000000;
}

@media (max-width: 767px) {
  h5 {
    font-size: 1.2rem;
}
}

@media (max-width: 767px) {
td,
th {
  height: 35px;
  border:none;
}
}

.table_padrao 
{
  font-size:13px;
  margin-top:15px;
  margin-bottom: 15px;
  margin-right: 20px;
}


.table_padrao thead th{
  /*background-color:  #bdbdbd;*/
  background-color:#EEEFF1;
  border:none;
  height: 35px;
  
}

tbody tr:hover {
  background: yellow;
}

table.highlight>tbody>tr:hover {
  background-color: rgba(194, 206, 23, 0.5) !important;
}

.StandardTable {
  border: 1px solid #656565;
  border-radius: 10px;
  -moz-border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px #888888;
  width: 300px;
  margin-bottom: 15px;
  border-spacing: 0;
}

.StandardTable thead {
  border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  /*width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.cardGraficos {  
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding-left: 10;
  margin-bottom: 15px; 
  }


.cardPagamento {
margin-right: 20px;
padding-top:15px;
background-color: white;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
}

@media only screen and (min-width: 600px) {
  .cardPagamento {
  /*  height:300px;*/
  margin-right: 20px;
  padding-top:15px;  
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
  }

  .cardGraficos {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    /*padding-top: 15px;  */
    
    
  }

}


.select-dropdown{
  font-family: 'Montserrat',sans-serif;
  color: #757575;
  font-size: 13px;
  
}

ul.dropdown-content.select-dropdown li span {
  color: #757575; 
  font-size: 14px;
}


 